
.text-muted {
  color: #777;
}

.text-primary {
  color: #C2996A;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.btn-xl {
  padding: 20px 40px;
  border-color: #C2996A;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #C2996A;
  background-color: #ffffff;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
}

header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

@media(min-width:768px) {
  header .intro-text {
      padding-top: 400px;
      padding-bottom: 20rem;
  }

  header .intro-text .intro-lead-in {
      margin-bottom: 25px;
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
  }

  header .intro-text .intro-heading {
      margin-bottom: 50px;
      text-transform: uppercase;
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
  }
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  margin-top: 10rem;
  margin-bottom: 2rem;
  font-size: 40px;
}

section h3.section-subheading {
  margin-bottom: 75px;
  text-transform: none;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

@media(min-width:768px) {
  section {
      padding: 40px 0;
  }
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}

#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  margin: 0;
  font-size: 16px;
  font-style: italic;
}


@media(min-width:767px) {
  #portfolio .portfolio-item {
      margin: 0 0 30px;
  }
}

section #contact {
  background-position: center;
  background-repeat: no-repeat;
}

section #contact .section-heading {
  color: #fff;
}

section #contact .form-group {
  margin-bottom: 50px;
}

section #contact .form-group textarea.form-control {
  height: 236px;
}

.item_image {
  width: 30rem;
  height: 30rem;
  background-size: cover;
  background-position: center center;
}
