.text-muted {
color: #777;
}

.img-centered {
margin: 0 auto;
}

.bg-light-gray {
background-color: #f7f7f7;
}

.btn-xl {
padding: 15px 30px;
margin-top: 2rem;
margin-bottom: 6rem;
border-color: #C2996A;
text-transform: uppercase;
font-size: 15px;
font-weight: 700;
color: #C2996A;
background-color: #ffffff;

@media(min-width:768px) {
header .intro-text {
    padding-top: 400px;
    padding-bottom: 20rem;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
}
}

header .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
}
}

section {
padding: 100px;
}

section h2.section-heading {
margin-top: 10rem;
margin-bottom: 2rem;
font-size: 40px;
}

section h3.section-subheading {
margin-bottom: 75px;
text-transform: none;
font-size: 16px;
font-style: italic;
font-weight: 400;
}

@media(min-width:768px) {
section {
padding: 40px 0;
}
}

#portfolio .portfolio-item {
right: 0;
margin: 0 0 15px;
}

@media(min-width:760px) {
#portfolio .portfolio-item {
    margin: 0 0 30px;
}
}

section #contact {
background-position: center;
background-repeat: no-repeat;
}

section #contact .section-heading {
color: #fff;
}

section #contact .form-group {
margin-bottom: 50px;
}

.item_image2 {
width: 27rem;
height: 30rem;
background-position: center center;
}
