.item_image {
    width: 38rem;
    height: 38rem;
    background-size: cover;
    background-position: center;
}

.image_salt {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5d1f896085ad78000179517c/1606502988602-JP7AXHX1YAFJYOYS1BX5/St+Lawrence+Restaurant+Gastown+Vancouver+BC+Spice+and+Salt.jpg?format=1500w");
}

.image_giftcard {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5d1f896085ad78000179517c/1606502764888-B0M3IMFTD7WLU6BGJ40Z/St+Lawrence+Restaurant+Gastown+Vancouver+BC+Gift+Cards.jpg?format=1500w");
}

// SHOP STYLE 
.shop__contents {
    padding: 15rem 8rem;
    &__head {
        h3 {
            color: #737373;
            display: flex;
            justify-content: center;
            padding: 0 17px 17px 17px;
        }
    }
    &__items {
        padding: 0 20rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        &__salt {
            margin: 0 auto;
            h4 {
                display: flex;
                justify-content: center;
                margin: 0%;
            }
        }
        &__giftcard {
            margin: 0 auto;
            h4 {
                display: flex;
                justify-content: center;
                margin: 0%;
            }
        }
    }
}

.recruit {
    &__top {
        h1 {
            color: #fff;
            display: flex;
            justify-content: center;
        }
    }
    &__members {
        padding: 15rem 8rem 6.3rem;
        display: grid;
        gap: 17px;
        row-gap: 67px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        &_owner {
            grid-column: 1/ span 3;
        }
        &_chef {
            grid-column: 4/ span 3;
        }
        &_general_director {
            grid-column: 1 / span 2;
        }
        &_bar_director {
            grid-column: 3 / span 2;
        }
        &_smomelier {
            grid-column: 5 / span 2;
        }
    }
    &__bottom {
        padding: 0px 8rem 15rem;
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem;
        div {
            img {
                width: 100%;
                height: auto;
            }            
        }
    }
}

.member_description {
    color: #737373;
    // font-size: 1.2rem;
}

.member {
    padding: 0 17px;
}

footer {
    background-color: #37666B;
    .footer__top {
        margin-top: 5rem;
        text-align:center
    }
    .footer__nav {
        padding: 0 8rem;
        ul {
            padding: 16px 39rem;
            display: flex;
            justify-content: center;
            li {
                margin-right: 1.8rem;
                a {
                    color: #fff;
                    font-size: 2rem;
                }
            }
        }   
    }
    .footer__bottom {
        padding: 0rem 8rem;
        margin-bottom: 10rem;
        ul {
            display: grid;
            grid-template-columns: auto auto auto auto;
            li {
                padding: 17px;
                a {
                    display: block;
                    margin-bottom: 2rem;
                    color: #fff;
                    font-size: 2rem;
                    p {
                        opacity: 0.8;
                        color: #fff;
                        font-weight: 200;
                        font-size: 1.4rem;
                        padding: 0.8rem 0 0 0;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}