.item_image {
  width: 38rem;
  height: 38rem;
  background-size: cover;
  background-position: center;
}

.image_salt {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5d1f896085ad78000179517c/1606502988602-JP7AXHX1YAFJYOYS1BX5/St+Lawrence+Restaurant+Gastown+Vancouver+BC+Spice+and+Salt.jpg?format=1500w");
}

.image_giftcard {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5d1f896085ad78000179517c/1606502764888-B0M3IMFTD7WLU6BGJ40Z/St+Lawrence+Restaurant+Gastown+Vancouver+BC+Gift+Cards.jpg?format=1500w");
}

.shop__contents {
  padding: 15rem 8rem;
}

.shop__contents__head h1 {
  font-size: 2rem;
  color: #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 17px 17px 17px;
}

.shop__contents__items {
  padding: 0 20rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop__contents__items__salt {
  margin: 0 auto;
}

.shop__contents__items__salt h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0%;
}

.shop__contents__items__giftcard {
  margin: 0 auto;
}

.shop__contents__items__giftcard h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0%;
}

.recruit__top {
  height: 1000px;
  background-color: #C2996A;
}

.recruit__top h1 {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recruit__members {
  padding: 15rem 8rem 6.3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.recruit__bottom {
  padding: 0px 8rem 15rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 2rem;
}

.recruit__bottom div img {
  width: 100%;
  height: auto;
}

.member_name {
  color: #37666B;
  font-size: 1.8rem;
}

.member_position {
  font-family: fantasy;
}

.member_description {
  color: #737373;
  font-size: 1.2rem;
}

footer {
  background-color: #37666B;
}

footer .footer__top {
  text-align: center;
}

footer .footer__nav {
  padding: 0 8rem;
}

footer .footer__nav ul {
  padding: 16px 39rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__nav ul li {
  margin-right: 1.8rem;
}

footer .footer__nav ul li a {
  color: #fff;
  font-size: 1.8rem;
}

footer .footer__bottom {
  padding: 0rem 8rem;
}

footer .footer__bottom ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

footer .footer__bottom ul li {
  padding: 17px;
}

footer .footer__bottom ul li a {
  display: block;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
}

footer .footer__bottom ul li a p {
  color: #fff;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
}

.text-muted {
  color: #777;
}

.text-primary {
  color: #C2996A;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.btn-xl {
  padding: 20px 40px;
  border-color: #C2996A;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #C2996A;
  background-color: #ffffff;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
}

header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 400px;
    padding-bottom: 20rem;
  }
  header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
  }
  header .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
  }
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  margin-top: 10rem;
  margin-bottom: 2rem;
  font-size: 40px;
}

section h3.section-subheading {
  margin-bottom: 75px;
  text-transform: none;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

@media (min-width: 768px) {
  section {
    padding: 40px 0;
  }
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}

#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  margin: 0;
  font-size: 16px;
  font-style: italic;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

section #contact {
  background-position: center;
  background-repeat: no-repeat;
}

section #contact .section-heading {
  color: #fff;
}

section #contact .form-group {
  margin-bottom: 50px;
}

section #contact .form-group textarea.form-control {
  height: 236px;
}

.item_image {
  width: 30rem;
  height: 30rem;
  background-size: cover;
  background-position: center center;
}

* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: .1px solid transparent;
}

html {
  font-size: 62.5%;
}

body footer {
  width: 100%;
}

body {
  margin: 0;
  background-color: burlywood;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  margin: 0;
  font-size: 6rem;
  color: #fff;
  font-family: "Yeseva One", cursive;
}

h2 {
  margin: 0;
  font-size: 4.8rem;
  color: #fff;
}

h3 {
  margin: 0;
  font-size: 3rem;
  color: #38666b;
}

h5 {
  margin: 5rem;
  font-size: 6rem;
  color: #38666b;
}

p {
  margin: 0;
  font-size: 2.2rem;
  line-height: 1.8;
  color: #737373;
  font-family: "Goudy Old Style", sans-serif;
}

i {
  color: #fff;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.scroll_back {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

.button {
  border: 2px solid #866D4B;
  color: #866D4B;
}

.wine {
  background-image: url("../wev_presentation/images/Wine_Club.jpg");
}

.shop {
  background-image: url("../wev_presentation/images/Shop+Spice+Salt.jpeg");
}

.team {
  background-image: url(../wev_presentation/images/Team.jpeg);
}

.header {
  background-image: url("../wev_presentation/images/DSCF8698.jpg");
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  padding: 5.5rem 8.3rem;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top__icon img {
  width: 4.5rem;
}

.header__top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top__menu ul li {
  margin-right: 2rem;
}

.header__top__menu ul li a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}

.header__headline {
  margin-top: 30rem;
  text-align: center;
}

.header__gotoBottom {
  text-align: center;
  margin-top: 20rem;
}

.header__gotoBottom i {
  font-size: 6rem;
}
/*# sourceMappingURL=index.css.map */